.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; 
}

.modal-content {
  font-family: "Be Vietnam Pro", sans-serif; 
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: none;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  position: relative;
  text-align: center;
}

.close {
  color: #aaaaaa;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  color: #FF8C00;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.modal-content .modal-description {
  color: #555;
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: #333;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500;
}

.form-control {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #fff;
}

.form-control:focus {
  border-color: #FF8C00;
  outline: none;
  box-shadow: 0 0 0 3px rgba(247, 199, 45, 0.2);
}

.form-control::placeholder {
  color: #aaa;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23AAAAAA%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13.2-5.4H18.4c-6.5%200-11.9%203.8-13.2%205.4A17.6%2017.6%200%200%000%2082.7a17.6%2017.6%200%200%200%205.4%2013.2l128.8%20127.9c4.2%204.1%2011%204.1%2015.2%200l128.8-127.9c4.2-4.1%205.4-10.3%205.4-13.2%200-12.2-9.2-12.2-13.2-13.2z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px;
  padding-right: 40px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row .form-group {
  flex: 1;
  margin-bottom: 0;
}

.submit-button {
  background-color: #FF8C00;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  font-weight: 700;
  margin-top: 10px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.submit-button:hover {
  background-color: #FF8C00;
}

@media (max-width: 600px) {
  .modal-content {
      padding: 20px;
  }
  
  .form-row {
      flex-direction: column;
      gap: 0;
      margin-bottom: 0;
  }

  .form-row .form-group {
      margin-bottom: 20px;
  }
}