@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

body {
    font-family: "Stack Sans Headline", sans-serif;
}

.banner {
    background-image: url("https://www.mioto.vn/static/media/bg_top.94ad3420.png");
    background-size: cover;
    width: 1280px;
    height: 725px;
    margin: 0 auto;
    border-radius: 20px;
}

.banner-card {
    width: 400px;
    padding: 40px 40px 60px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    top: 10%;
    left: 5%;
}

.banner-card span {
    color: #FF8C00;
    font-size: 40px;
}

.banner-card h1 {
    color: #000000;
    font-size: 40px;
}

.banner-card p {
    font-size: 16px;
    font-weight: 400;
}

.banner-card button {
    background-color: #000000;
    width: 240px;
    min-height: 25px;
    padding: 12px 20px;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

hr.line {
  border: 1px solid #dee2e6;
  width: 100%;
}